NODE_ENV=development

# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URL=postgresql://codelab:codelab_dev_password@postgres:5432/codelab?schema=public
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=

APP_PORT=3000
POSTGRES_PORT=5432
PGADMIN_PORT=5050

# Clerk (ajuste conforme seu projeto)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/signin
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/signup
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# .env do Shadcn/Studio
EMAIL=tenroberto2011@gmail.com
LICENSE_KEY=
